* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--text-color);
    font-family: "articulat-cf";
}

:root,
    :root.default {
        --primary-color: #ec1800;
        --secondary-color: #f66200;
        --tertiary-color: #0629f1;
        --bg-color: #2d333d;
        --secondary-bg-color: #d5dfe3;
        --highlight-color: black;
        --text-color: aliceblue;
        --hover: #ec1800;
}


body {
    background-color: rgb(38, 38, 38);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button {
    z-index: 0;
    width: 65px;
    height: 65px;
    margin: 2px;
    color: var(--highlight-color);
}

.column:hover {
    z-index: 100;
    cursor: pointer;
    border-radius: 5px;
    border: var(--hover) 2px solid;
    box-shadow: 
    0 0 7px var(--hover),
    0 0 10px var(--hover),
    0 0 42px var(--hover),
    0 0 82px var(--hover);
}

.flipped {
    cursor: default;
    background-color: var(--highlight-color);
    color: var(--secondary-bg-color);
}

p {
    color: var(--text-color);
}
.cursorHidden {
    pointer-events: none;
}

header {
    display: flex;
    justify-content: end;
}

main {
    display: flex;
    justify-content: center;
}

#contentWrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
#gameboard {
    text-align: center;
    display: flex;
    max-width: min-content;
}
#players {
    display: flex;
    gap: 15rem;
}
#info {
    text-align: center;
}
.neon {
    color: #fff;
    text-shadow:
        0 0 7px #eb5b5b,
        0 0 10px #d93030,
        
        0 0 42px var(--primary-color),
        0 0 82px var(--primary-color),
        0 0 92px var(--primary-color),
        0 0 102px var(--primary-color),
        0 0 151px var(--primary-color);
  }
  h1 {
    margin-bottom: 1rem;
  }
  #start, #restart {
    width: 100%;
  }
  aside {
    padding: 0 2rem 0 2rem;
  }
  #rulesList {
    margin-top: 1rem;
    list-style-type: square;
  }
  #rulesListDiv {
    margin-top: 3rem;
  }
  #contentWrapper {
    margin-top: 1rem;
  }
