* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    color: var(--text-color);
    font-family: "articulat-cf";
}

:root,
    :root.default {
        --primary-color: #e36a0e;
        --secondary-color: #F68B00;
        --tertiary-color: dodgerblue;
        --bg-color: #2d333d;
        --secondary-bg-color: #d5dfe3;
        --highlight-color: black;
        --text-color: aliceblue;
}


body {
    background-color: rgb(38, 38, 38);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
button {
    width: 65px;
    height: 65px;
    margin: 2px;
    color: var(--highlight-color);
}


button:hover {
    width: 65px;
    height: 65px;
    margin: 2px;
    cursor: pointer;
    border-radius: 5px;
}
.flipped {
    cursor: default;
    background-color: var(--highlight-color);
    color: var(--secondary-bg-color);
}

p {
    color: var(--text-color);
}
.cursorHidden {
    pointer-events: none;
}
i {
    color: var(--text-color);
}
header {
    display: flex;
    justify-content: end;
}

#contentWrapper {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
}
#gameboard {
    text-align: center;
    display: flex;
}
#players {
    display: flex;
    justify-content: space-between;
}
#info {
    text-align: center;
}

